/* Estilo para tabelas e números */
table {
    width: 90%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

th, td {
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #f4f4f4;
}

h2 {
    border-left: 5px solid #2980b9;
    padding-left: 10px;
}

.ativo {
    background-color: #2980b9;
    border-radius: 5px;
}

  
  